#background
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-image: url('/assets/images/bg.png')
	background-size: 100%
	opacity: 0.2
	filter: alpha(opacity=20)
	z-index: -1

#main
	position: absolute
	top: 50%
	left: 0
	right: 0
	width: 800px
	margin-left: auto
	margin-right: auto
	z-index: 100
	
	input[type='search']
		width: 800px
		height: 50px
		font-size: 25px

#results
	display: none
	background-color: white
	position: absolute
	top: 20%
	left: 0
	right: 0
	width: 800px
	margin-left: auto
	margin-right: auto
	z-index: 100
	border-radius: 5px
	border: 1px solid #cac4c4