#background
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-image: url('/assets/images/bg.png')
	background-size: 100%
	opacity: 0.2
	filter: alpha(opacity=20)
	z-index: -1

#main
	position: absolute
	top: 50%
	left: 0
	right: 0
	width: 800px
	margin-left: auto
	margin-right: auto
	z-index: 100
	
	input[type='search']
		width: 800px
		height: 50px
		font-size: 25px
		background-color: white!important

#results
	display: none
	background-color: white
	position: absolute
	top: 20%
	left: 0
	right: 0
	width: 800px
	max-height: 450px
	margin-left: auto
	margin-right: auto
	z-index: 10
	border-radius: 5px
	border: 1px solid #cac4c4
	overflow: auto

	ul
		margin: 0
		list-style-type: none

		li
			height: 70px
			line-height: 70px
			padding-left: 50px
			border-bottom: 1px solid #cac4c4
			cursor: pointer

			&:last-child
				border-bottom: 0px

			span.title
				float: left
				width: 90%
				font-size: 25px

			span.distance
				float: right
				font-size: 12px
				width: 10%

			img
				vertical-align: middle
				margin-right: 20px


