<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Reserva tu pistas de padel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/assets/dev/css/app.css" />
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAmbXq8KeJgDXoUTdpCyr7K-n3mrKBpPMg&amp;sensor=true"></script>


        <meta name="description" content="Encuentra y reserva las pistas de padel más cercanas de la forma más rápida" />
    </head>
    <body>
    	<div id="background"></div>

    	<div id="main">
            <div class="row">
                <div class="small-10 large-11 columns">
                    <input id="mainsearch" type="search" placeholder="¿Dónde quieres jugar?" />
                </div>
                <div class="small-2 large-1 columns">
                    <img class="geolocate" src="/assets/dev/images/geolocation.png"/>
                </div>
            </div>
        </div>
        
        <div id="results">
            <div class="row">
                <div id="places" class="large-12 columns">
                    <div class="row empty">
                        <div class="large-12 columns">
                            <div class="row">
                                <div class="small-2 large-1 columns">
                                    <img src="/assets/dev/images/loading.gif" alt="loading" />
                                </div>
                                <div class="small-10 large-11 columns">
                                    <span>Espera mientras se cargan las pistas más cercanas</span>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/dev/js/vendor/jquery-1.9.1.min.js"></script>
        <script src="/assets/dev/js/vendor/typeahead.js"></script>
        <script data-main="/assets/dev/js/app.js" src="/assets/dev/js/vendor/require.js"></script>
    </body>
</html>