<html>
 <head>
        <meta charset="utf-8">

        <title>Padel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <link rel="stylesheet" href="/assets/css/app.css" />
    </head>
	  

<body>
	<div id="background"></div>

	<div id="main">
		<input id="mainsearch" type="search" placeholder="¿Dónde quieres jugar?"/>
	</div>
    <div id="results">
        <ul>
            <li>
                <span class="title">Boadilla del monte</span>
                <span class="distance">1 km</span>
            </li>
            <li>
                <span class="title">Alcorcón</span>
                <span class="distance">2 km</span>
            </li>
             <li>
                <span class="title">Leganés</span>
                <span class="distance">4 km</span>
            </li>
             <li>
                <span class="title">Mostoles</span>
                <span class="distance">6 km</span>
            </li>
             <li>
                <span class="title">Getafe</span>
                <span class="distance">7 km</span>
            </li>
             <li>
                <span class="title">Las Rozas</span>
                <span class="distance">13 km</span>
            </li>
             <li>
                <span class="title">Majadahonda</span>
                <span class="distance">14 km</span>
            </li>
        </ul>
    </div>
</body>
<script src="/assets/js/vendor/jquery-1.9.1.min.js"></script>
<script data-main="/assets/js/app.js" src="/assets/js/vendor/require.js"></script>
</html>